Node-RED_export_flow.txt
[
  {
    "id": "4a2e3c3f.0d3094",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3ec1800a.c3c2f8",
    "type": "tcp in",
    "z": "4a2e3c3f.0d3094",
    "name": "Receive from TinyOS",
    "server": "server",
    "host": "",
    "port": "1234",
    "datamode": "stream",
    "newline": "",
    "topic": "",
    "base64": false,
    "x": 130,
    "y": 260,
    "wires": [
      [
        "51bcf877.7747c8"
      ]
    ]
  },
  {
    "id": "51bcf877.7747c8",
    "type": "function",
    "z": "4a2e3c3f.0d3094",
    "name": "Parse Message",
    "func": "var bufferArray = msg.payload; // Assuming msg.payload contains the buffer array\n\n// Convert the array into a buffer object\nvar buffer = Buffer.from(bufferArray);\nvar topic = \"field\"+(buffer[4]+1);\n\nvar value = buffer[3];\n//node.warn(topic+\" value: \" + value);\nmsg.newUrl = \"https://api.thingspeak.com/update?api_key=7GD113CORBW4HZ56&\"+topic+\"=\"+value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 260,
    "wires": [
      [
        "c4d9a621.5495a8",
        "ed31ebd3.72c75"
      ]
    ]
  },
  {
    "id": "c4d9a621.5495a8",
    "type": "debug",
    "z": "4a2e3c3f.0d3094",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 600,
    "y": 220,
    "wires": []
  },
  {
    "id": "ed31ebd3.72c75",
    "type": "change",
    "z": "4a2e3c3f.0d3094",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "newUrl",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 280,
    "wires": [
      [
        "ba70edf6.2ec73"
      ]
    ]
  },
  {
    "id": "ba70edf6.2ec73",
    "type": "http request",
    "z": "4a2e3c3f.0d3094",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 800,
    "y": 280,
    "wires": [
      [
        "151534f9.b8c003"
      ]
    ]
  },
  {
    "id": "151534f9.b8c003",
    "type": "debug",
    "z": "4a2e3c3f.0d3094",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1000,
    "y": 280,
    "wires": []
  }
]